[mysqld]
server_id=1
log-bin=mysql-bin
read-only=0
binlog-do-db=docker
replicate-ignore-db=mysql
replicate-ignore-db=sys
replicate-ignore-db=information_schema
replicate-ignore-db=performance_schema
default-storage-engine=INNODB
expire_logs_days=7
character-set-server=utf8
[client]
default-character-set=utf8
[mysql]
default-character-set=utf8
